*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
a{
  text-decoration: none;

}
h1{
  font-size: 2rem;
}
h2{
  font-weight: bold!important;
}
.nav-item a{
  color: #fff;
  font-size: 1.4rem;
}
.logo{
  border-radius: 100%;
}
.header{
  min-height: 110vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.5)),url("../images/header-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  clip-path: polygon(100% 79%, 100% 0, 0 0, 0 80%, 50% 100%);
  position: relative;
}
.caption  {
  position: absolute;
  top: 50%;
  transform: translateY(-50% );
}
.paragraphHeader {
  font-size: 1.2rem;
  line-height: 1.3;
  letter-spacing: 3px;
  color: white;
}
.about{
  min-height: 100vh;
  width: 100%;

}
.about-header ,.port-header{
  margin-bottom: 4rem;
}
.feature-section ,.portfolio,.secondlast{
  min-height: 100vh;
  width: 100%;

}
.feature-heading{
  margin-bottom: 3rem;
}
.feature-section{
  padding-top: 2rem;
  padding-bottom: 3rem;
  background-color: #e7dfd5;
}
.secondlast{
  color: white!important;
  background-color: #330033;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='182' height='182' viewBox='0 0 90 90'%3E%3Ccircle fill='%2306B' cx='45' cy='45' r='5'/%3E%3Cg fill='%23800' fill-opacity='1'%3E%3Ccircle cx='0' cy='90' r='5'/%3E%3Ccircle cx='90' cy='90' r='5'/%3E%3Ccircle cx='90' cy='0' r='5'/%3E%3Ccircle cx='0' cy='0' r='5'/%3E%3C/g%3E%3C/svg%3E");
}
.person{
  background-image: url('../images/person.jpg');
  height: 300px;
  width: inherit;
  background-size: cover;
}
.social{
  padding: 30px;
}
@media only screen and (max-width:770px) {
  .syndiv{
    margin: 0 auto;
  }
  .person{
    margin-left: 10px;
  }
}
